<div *ngIf="id != undefined">
    <div class="col-md-10 mx-auto content">
        <div class="row h-25 text-center">
            <div class="col">
                <h2>Voudriez-vous adhérer à un service d'assurrance automobile ProxyBank?</h2>
            </div>
        </div>
        <div class="row h-75">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <i class="far fa-thumbs-up fa-10x pouce-ok"></i>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <i class="far fa-thumbs-down fa-10x pouce-no"></i>
            </div>
        </div>
    </div>
</div>

<div *ngIf="id == undefined">
    <div class="col-md-10 mx-auto content bg-devis">
        <div class="row h-100 d-flex flex-column align-items-center justify-content-center">

            <h1 class="titre-devis">Obtenir un devis Assurance Auto</h1>

            <span class="text-white">Simple Rapide Gratuit</span>
        </div>
    </div>
</div>