<div class="col-md-10 mx-auto content">
  <div class="row h-25 text-center">
    <div class="col">
      <h2> Déja Client ! </h2>
      <form (ngSubmit)="submit(blogForm)" #blogForm="ngForm">
        <div class="form-group">
          <input id="numero" name="numero" class="form-control" [(ngModel)]="model.numero" minlength="10" maxlength="10"
            required placeholder="N° Identifiant">
         
        </div>
        <button class="btn btn-primary" >Valider</button>
      </form>
      <br>
      <h1 class="text-primary mx-auto">Ou</h1>

    <form (ngSubmit)="submit(blogForm)" #blogForm="ngForm">
      <div class="form-group">
        <input id="nom" name="nom" class="form-control" [(ngModel)]="model.nom"  required placeholder="nom">
      </div>
      <div class="form-group">
        <input id="prenom" name="prenom" class="form-control" [(ngModel)]="model.prenom"  required placeholder="prenom">
      </div>
      <div class="form-group">
        <input id="mail" name="mail" class="form-control" [(ngModel)]="model.mail"  required placeholder="mail@domain.com">
        
      </div>
      <div class="form-group">
        <input id="telephone" name="telephone" class="form-control" [(ngModel)]="model.telephone" minlength="10" maxlength="10" 
          required placeholder="ex:0612345678">
        
      </div>
      <button class="btn btn-primary" >Valider</button>
    </form>
  </div>
</div>
